.sectionml{
  background-image: url('/img/fond-homepage.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  // height: 100vh;
  padding: 6rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;

  & #ml{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  }
  & h1, h2, p{
    color: black;
  }
}
@media screen and (max-width: 768px) {
  .center{
    display: flex;
    flex-direction: column;
    // justify-content: center;
  }
  .flexwrapcenter:has(> .btn-transp-dark ){
    margin: 0!important;
  }
  #ml{
    text-align: center;
    }
  .inlineflex{
    margin: 0;
  }

}
